@tailwind base;
@tailwind components;
@tailwind utilities;
.App{
  display: flex;
}
html,body{
  
  height: 100%;
  background-color: #121212;
}
*{
  margin: 0;
}
.Main{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.Main img{
  height: 90%;
}
.Main button{
  background-color: rgb(220, 109, 19);
  margin-bottom: 100px;
  padding: 10px;
  border-radius: 30px;
  font-size: 20px;
  transition: 1s;
}
.Main button:hover{
  background-color: rgb(153, 85, 33)(205, 38, 38);
  transform: scale(1.2);
}
.containerMain{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-image: url("https://img.freepik.com/free-vector/beautiful-book-club-pattern-illustration_23-2149330102.jpg"); */
}
.containerChosebox{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.Chosebox{
  width: 80%;
  height: 35px;
  border-radius: 20px;
  border: none;
  background-color: black;
  outline: none;
  margin: 0;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: 1s;
}
.choseSubject{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.containerChosebox:hover{
  transform: scale(1.1);
  box-shadow: 1px 1px 1px rgb(255, 185, 185);

}
.containerChosebox{
  background-color: rgb(0, 0, 0);
  width: 60%;
  position: sticky;
  top:2px;
  opacity: 0.6;
  z-index: 10;
  border: 1px solid white;
  margin-top: 10px;
  margin: 100px;
  border: 1px solid rgb(255, 255, 255);
  transition: 1s;
  border-radius: 20px;
}
.containerChosebox p{
  color: aliceblue;
  font-size: 20px;
  margin: 0;
  position: relative;
  top: -3px;
}
.containerChosebox button{
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    margin-left: 3px;
    border-radius: 40%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    border: 0px solid white;

}
.containerMain{
  flex-wrap: wrap;
  height: 100%;
}
.oneBook{
  display: flex;
  flex-direction: column;
  padding: 0%;
  margin: 20px;
}
.oneBook button{
  width: 270px;
  height: 370px;
  border-radius: 10px;
  background-color: rgba(39, 39, 39, 0.2);
  overflow: auto;
  transition: 1s;
  cursor: pointer;
  border: 0px solid rgb(75, 1, 1);
  box-shadow: 5px 5px 5px rgba(90, 3, 3, 0.57);
}
.oneBook button::-webkit-scrollbar {
  width: 10px;
}

.oneBook button::-webkit-scrollbar-thumb {
  visibility: hidden;
  background-color: #e7e2e2;
  border-radius: 20px;
}

.oneBook button::-webkit-scrollbar-thumb:hover {
  visibility: visible;
  background-color: rgb(255, 255, 255);
}
.oneBook button:hover{
  transform: scale(1.05);
}
.oneBook button p{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 6px;
  color: rgba(255, 255, 255, 0.781);

}
.oneBook button img{
  height: 300px;
  width: 100%;
  border-top-left-radius:10px ;
  border-top-right-radius: 10px;
}
.containerOfConatainer{
  /* background-image: url("https://img.freepik.com/free-vector/beautiful-book-club-pattern-illustration_23-2149330102.jpg"); */
  margin-top: 60px;
}
a{
  display: block;
  text-align: center;
  text-decoration: none;
  color: aliceblue;
  
}

a div{
  border: 2px solid black;
  display: inline;
  border-radius: 10px;
  font-size: 30px;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.currentBook{
  width: 100%;
  min-height: 100%; 
  height: auto; 
}

.currentBook img{
  margin: 20px;
  margin-left: 30px;
  width: 300px;
  max-height: 400px;
  box-sizing: border-box;
  border-radius: 20px;
  max-width: 100%;
  box-shadow: 1px 2px 4px white;
}
.bookInfo .img{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bookInfo .img button{
  border:2px solid #ffffff;
  padding: 5px;
  border-radius: 60px;
  transition: 1s;
  
}
.bookInfo .img button:hover{
      transform: scale(1.1);
      color: red;
}
.bookInfo{
  margin-top: 60px;
  display: flex;
  width: 100%;
  color: rgba(255, 255, 255, 0.722);
}
.InfoBookRight{
     overflow: auto;
     min-width: 100px;
     margin: 40px;
     flex: 1;
}
@media screen and (max-width: 1000px) {
  
  .bookInfo {
    flex-direction: column;
  }
}
.InfoBookRight h1{
  text-align: center;
  margin: 20px;
  color: rgba(255, 255, 255, 0.765);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}
.InfoBookRight span{
  font-size: 30px;
  margin: 10px;
}
.InfoBookRight p{
  color: rgba(255, 255, 255, 0.765);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
}

.currentBook .button,.containerOfConatainer .button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(18, 18, 18,0);
  position: sticky ;
  top: 5px;
  margin: 10px;
  z-index: 10;
  
}
.currentBook .button button,.containerOfConatainer .button button{
  background-color: rgb(18, 18, 18,0.7);
  color: rgb(255, 255, 255);
  font-size: 25px;
  border: 1px solid white;
  border-radius: 20px;
  cursor: pointer;
  padding: 5px;
  transition: 1s;
}
.currentBook .button button:hover,.containerOfConatainer .button button:hover{
  transform: scale(1.05);
  color:rgba(255, 0, 0, 0.763);
}
.barTop{
  display: flex;
  justify-content: center;
  background-color: black;
  align-items: center;
  position: fixed;
  top: 0;
  height: auto;
  width: 100%; 
  z-index: 10;
  opacity: 0.9;
  margin-left: 10px;
  color: rgba(240, 248, 255, 0.852);
}
@media screen and (max-width: 600px) {
  
  .barTop {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  .barTop h1{
   
  }
  .containerMain{
    margin-top: 60px;
  }
  .bookInfo{
    margin-top: 110px;
  }
}


.barTop h1{
   flex: 1;
   position: relative;
   margin-left: 2px;
   left: -100px;
   font-size: 30px;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   color: rgba(240, 248, 255, 0.852);

}
svg{
  
  z-index: 2;
  margin-left: 20px;
}
.svg-icon {
  cursor: pointer;
  fill: white;
  
  transition: 1s; 
}

.svg-icon:hover {
  transform: scale(1.2);
  fill: red 
}

.RichEditor-root {
  width: 90%;
  margin: 10px;
  background: #ffffff;
  border: 1px solid #ddd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 15px;
}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
}
.oneFile{
  margin: 10px;
  padding: 10px;
  height: 430px;
  overflow: auto;
  width: 300px;
  color: #000000;
  border-radius: 10px;
  transition: 1s;
  background-color: #ddd;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid rgb(75, 1, 1);
  box-shadow: 5px 5px 3px rgba(96, 74, 74, 0.982);
}
.oneFile::-webkit-scrollbar {
  width: 10px;
}

.oneFile::-webkit-scrollbar-thumb {
  visibility: hidden;
  background-color: #e7e2e2;
  border-radius: 20px;
}

.oneFile::-webkit-scrollbar-thumb:hover {
  visibility: visible;
  background-color: rgb(255, 255, 255);
}
/* .oneFile:hover{
  transform: scale(1.1);
} */
.textFileContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  width: 300px;
  height: fit-content;
  border-radius: 10px;
}
.textFileContainer button{
  background-color: red;
  font-size: 20px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 50%;
  border: none;
  visibility: hidden;
  cursor: pointer;
  transition:  1s;
}
.textFileContainer button:hover{
    transform: scale(1.2);
}
.textFileContainer:hover button{
    transform: rotate(180deg);
    visibility: visible;
  
}
.ContainerOfTextFile{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.MyNotePage{
  margin: 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.MyNotePage h1{
  font-size: 30px;
  font-weight: bold;
}
.MyNotePage h2{
  font-size: 25px;
  font-weight: bold;
}
.MyNotePage h3{
  font-size: 20px;
  font-weight: bold;
}
.MyNotePage h4{
  font-size: 15px;
  font-weight: bold;
}
.MyNotePage h5{
  font-size: 12px;
  font-weight: bold;
}
.MyNotePage h6{
  font-size: 10px;
  font-weight: bold;
}
.MyNotePage ul{
  list-style-type: disc;
  margin-left: 40px;
  padding-left: 40px;
}
.MyNotePage ol{
  list-style-type: decimal;
   margin-left: 40px;
   padding-left: 40px;
}
.AnswerList{
  
  display: flex;
  flex-direction: column;
  height: 85vh;
  width: 90%;
  border: 2px solid gray;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  margin-left:50px ;
  margin-right: 50px;
  box-sizing: border-box;
  overflow: auto;
}
.AnswerList::-webkit-scrollbar {
  width: 10px;
}

.AnswerList::-webkit-scrollbar-thumb {
  visibility: hidden;
  background-color: #e7e2e2;
  border-radius: 20px;
}

.AnswerList::-webkit-scrollbar-thumb:hover {
  visibility: visible;
  background-color: rgb(255, 255, 255);
}
.AnswerList .user,.AnswerList .ChatGPT{
  background-color: aquamarine;
  width: fit-content;
  
  margin-top: 15px;
  border-radius: 20px;
  padding: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.AnswerList .ChatGPT{
  margin-right: 70px;
}
.AnswerList .ChatGPT button{
 visibility: hidden;
 display: none;
 margin: 5px;
 transition: 1s;
}
.AnswerList .ChatGPT:hover button{
  visibility: visible;
  display: block;
}
.AnswerList .ChatGPT button:hover{
  transform: scale(1.2);
}
.AnswerList .user{
     align-self: self-end;
     margin-left: 200px;
     background-color: aqua;
}
.AnswerList .ChatTyping{
  width: 100%;
  justify-self: end;
  bottom: 10px;
  color: antiquewhite;
}
.AnswerAndInput{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .AnswerAndButton{
  display: flex;
  flex-direction: column;
  width:max-content;
  align-items: center;
}
.AnswerAndButton button{
  color: antiquewhite;
  position: absolute;
  margin: -12px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  border:1px solid #ddd;
  width: 110px;
  border-radius: 20px;
  visibility: hidden;
} */
.AnswerAndInput .ChatGPTInput {
  width: 100%;
  display: flex;
  justify-content: center;
}
.AnswerAndInput .ChatGPTInput input{
  outline: none;
  border-radius: 20px;
  height: 40px;
  width: 70%;
  padding-left: 10px;
  background-color: antiquewhite;
}
.AnswerAndInput .ChatGPTInput form{
  
  width: 100%;
  display: flex;
  justify-content: center;
}
.AnswerAndInput .ChatGPTInput form button{
  background-color: rgb(240, 248, 255,0);
  color: antiquewhite;
  border: 2px solid antiquewhite;
  padding: 3px;
  border-radius: 20px;
  margin-left: 5px;
  transition: 1s;
}
.AnswerAndInput .ChatGPTInput form button:hover{
  transform: scale(1.1);
  color: aqua;
}
.ChatBot{
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}